
@{
    ViewBag.Title = "BlogView";
}

<div class="row">
    <div class="col-md-3">
        <div class="well">
            Info <br/>
            Info <br />
            Info <br />
            Info <br />
            Info <br />
            Info <br />
        </div>
        <div class="well">
            Arkiv <br />
            Arkiv <br />
            Arkiv <br />
            Arkiv <br />
            Arkiv <br />
            Arkiv <br />
        </div>
        

    </div>
    <div class="col-md-9">
        <div class="well">
            Posts <br/>
            Posts <br />
            Posts <br />
            Posts <br />
            Posts <br />
            Posts <br />
            Posts <br />
            Posts <br />
            Posts <br />
            Posts <br />
            Posts <br />
            Posts <br />
            Posts <br />
        </div>

    </div>
</div>

