@{
    ViewBag.Title = "BlogView";
}

<div class="row">
    <div class="col-md-3">
        <br />
        @Html.ActionLink("Create Post", "CreatePost", "Blogs", new {  }, new { @class = "btn btn-primary", role = "button" })


        @*<a href="CreatePost" class="btn btn-primary" role="button">Create Post</a>*@
        <hr />

        <div class="well">
            Info <br />

        </div>
        <div class="well">
            Arkiv <br />

        </div>


    </div>
    <div class="col-md-9">
        <div class="well">
            Posts <br />

        </div>

    </div>
</div>

