@using LexBlog.Models
@model SearchResultViewModel

@{
    ViewBag.Title = "Search results for " + Model.SearchString;
}

<h2>Search results for "@Model.SearchString"</h2>
<div>
    @if (Model.Blogs != null)
    {
        <h3>Blogs</h3>
        <div class="search-list-blogs">
            @foreach (Blog item in Model.Blogs)
            {
                Html.RenderPartial("_BlogPartial", item);
            }
        </div>
    }

    @if (Model.Posts != null)
    {
        <h3>Posts</h3>
        <div class="search-list-posts">
            @foreach (Post item in Model.Posts)
            {
                Html.RenderPartial("_PostPartial", item);
            }
        </div>
    }
</div>