@{
    ViewBag.Title = "Home Page";
}

<div>
    <h1></h1>
    <div class="jumbotron">
        <h1>Välkommen!</h1>
        <p>N'rap är en bloggportal för alla...  </p>
        <p><a class="btn btn-info btn-lg" href="#" role="button">Läs mer</a>    <a class="btn btn-primary btn-lg" href="#" role="button">Kom igång</a></p>
    </div>
    <img class="img-center" src="~/img/Nrap2.jpg" />

</div>