@{
    ViewBag.Title = "Home Page";
}

<div>
    <h1></h1>
    <div class="jumbotron">
        <h1>Välkommen!</h1>
        <p>Vad är meningen med livet? Börja blogga IDAG och få reda på svaret.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Kom igång</a></p>
    </div>
    <img class="img-center" src="~/img/Nrap2.jpg" />

</div>